/* The header bar of the app */
#header {
    padding:1px;
}

/* The footer bar of the app */
#footer {
    text-align:center;
    clear:both;
}

.white {
    color: white;
}

.errorMessage {
    color: red;
}

.successMessage {
    color: green;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

.nav > li > a {
    display: initial;
}

@media (min-width: 1200px) {
  .container-full {
    width: auto;
  }
}