<div class="container box">
    <input class="form-control"
           ng-model="vm.search.filter"
           placeholder="Enter text to search..." />

    <hr />
    <table ng-show="(vm.users | filter:vm.search.filter).length != 0">
        <tr>
            <th>
                <div ng-click="vm.order('email')">
                    Email
                </div>
            </th>
            <th>
                <div ng-click="vm.order('joinDate')">
                    Join Date
                </div>
            </th>
            <th ng-click="vm.order('isActive')">
                Is Active
            </th>
        </tr>  <!--filter:{Name:vm.search.filter}-->
        <tr ng-repeat="user in vm.users | filter:{UserName:vm.search.filter}">
            <td>
                <a ui-sref="users.profile({ userName: user.UserName })">
                    {{user.UserName}}
                </a>
            </td>
            <td>{{'1288323623006' | date:"MM/dd/yyyy" }}</td>

            <td>
                <!-- Is Active -->
                <div class="btn btn-success"
                     ng-click="vm.toggleActive(user)"
                     ng-show="user.IsActive">
                    <span class="glyphicon glyphicon-ok"></span>
                </div>
                <!-- Is NOT Active -->
                <div class="btn btn-danger"
                     ng-click="vm.toggleActive(user.ID)"
                     ng-show="!user.IsActive">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
            </td>

            <td>{{user.Permission.Name}}</td>
        </tr>
    </table>

    <!-- Nothing to see here! -->
    <div ng-show="((vm.users | filter:vm.search.filter).length === 0) && vm.usersloaded">
        No users match your search criteria!
    </div>

    <!-- Loading! Please wait... -->
    <div ng-show="!vm.usersloaded">
        Loading! Please wait...
    </div>
</div>