
<head>
    <title>Create New Blog</title>
</head>

<div ng-controller="BlogController">
    <form name="blogCreate" data-ng-submit="sendForm()" novalidateclass="simple-form">
        <br />
        Title: <input type="text" data-ng-model="model.Title" /><br />
        Content: <textarea type="text" data-ng-model="model.Post" ckeditor></textarea><br />

        <input type="button" ng-click="reset()" value="Reset" />
        <input type="submit" value="Save" />
    </form>
    <pre>form = {{model | json}}</pre>
</div>


<div>
    <a href="/Blog/Index">Back to List</a>
</div>