<head>
    <title>Create New Blog</title>
    <script src="~/Scripts/App/Blog.js"></script>
</head>

<div id="CreateBlog">
    <div data-bind="with: currentBlog">
        <p>Title: <input type="text" name="Title" data-bind="value: Title" /></p>
        <p>Post: <input data-bind="value: Post" /></p>
    </div>
    <p><input type="button" value="Create" data-bind="click: saveBlog"/></p>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
