<head>
    <title>Create New Blog</title>
    <script src="~/Scripts/App/Blog.js"></script>
</head>

<div class="container" id="CreateBlog">
    <div data-bind="with: currentBlog">
        <div class="row">Title:</div>
        <div class="row"><input type="text" name="Title" data-bind="value: Title" /></div>
        <div class="row">Content:</div>
        <div class="row">
            <textarea name="Content" id="Content" rows="10" cols="80" type="text" data-bind="richText: Post, valueUpdate: 'afterkeydown'">
                This is my textarea to be replaced with CKEditor.
            </textarea>
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace('Content');
            </script>
        </div>
        <div class="row">Tags:</div>
        <div class="row"> <input type="text" name="Tags" data-bind="value: Tags" /></div>
        

    </div>
    <p><input type="button" value="Submit" data-bind="click: saveBlog" /></p>
    <button onclick="alert('Would save: ' + ko.toJSON(vm, null, 2));">
        Save
    </button>

</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
