
<head>
    <title>Blog Listing</title>
</head>

<div ng-controller="BlogListController">
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>Title</th>
            <th>Posted By</th>
            <th>Date Posted</th>
        </tr>
        <tr ng-repeat="blog in blogs">
            <td><a ng-href="/Blog/Blogs/{{blog.ID}}">{{blog.Title}}</a></td>
            <td>{{blog.PostedBy}}</td>
            <td>{{blog.CreateDate}}</td>
        </tr>
        </table>
</div>



<p>
    @Html.ActionLink("Create new blog", "Create", "Blog")
</p>