<div class="container col-md-8 col-md-offset-2 row box text-center">

    <!-- Registration Form -->
    <form class="col-md-12"
          name="registrationForm"
          ng-submit="registration.submit()"
          novalidate>

        <!-- Left Column -->
        <div class="col-md-6">

            <!-- Username Input -->
            <div class="form-group">
                <input class="form-control col-md-6"
                       id="RegisterUsername"
                       name="username"
                       ng-model="registration.user.username"
                       placeholder="Username"
                       required
                       type="email" />
            </div>

            <!-- Password Input -->
            <div class="form-group">
                <input class="col-md-12 form-control"
                       id="RegisterPassword"
                       name="password"
                       ng-maxlength="20"
                       ng-minlength="8"
                       ng-model="registration.user.password"
                       placeholder="Password"
                       required
                       type="password" />
            </div>


            <!-- Confirm Password Input -->
            <div class="form-group">
                <input class="col-md-12 form-control"
                       id="RegisterConfirmPassword"
                       name="confirmpassword"
                       ng-maxlength="20"
                       ng-minlength="8"
                       ng-model="registration.user.confirmpassword"
                       placeholder="Confirm Password"
                       required
                       type="password" />
            </div>

        </div> <!-- End of Left Column -->
        <!---->
        <!-- Right Column -->
        <div class="col-md-6">

            <!-- Upload Image Button -->
            <input id="inputFileToUpload"
                   type="file"
                   onchange="updateImage()" />

            <!-- Thumbnail of image (show only if image selected) -->
            <div class="output thumbnail">
                <img id="thumbnail" ng-src="{{registration.user.profileimage}}" />
            </div>

        </div>

        <!-- Register Button -->
        <button class="btn btn-success col-md-12"
                type="submit">
            Register
        </button>

    </form>

</div>

<div class="col-md-2"></div>

<div class="row box">
    <h2>Todo:</h2>
    <p>Upload Image currently has no functionality.</p>
    <p>Front-End Validation on fields</p>
    <p>Front-End Validation on Unique Name</p>
    <p>Login and redirect after successful registration</p>
</div>