<div class="container box" ng-repeat="blog in blogCtrl.blogs">
    <div class="col-md-3">
        <a ui-sref="blogs.detail({ blogTitle: blog.Title })">
            <img src="Content/img/intro-pic.jpg" class="col-md-12" />
        </a>
    </div>
    <div class="col-md-9">
        <a ui-sref="blogs.detail({ blogTitle: blog.Title })">
            {{blog.Title}}
        </a><span> - </span>
        <a href="/user/{{blog.UserUserName}}">
            {{blog.UserUserName}}
        </a>
        <p>{{blog.CreateDate}}</p>
        <p>{{blog.PostPreview}}</p>
        <p>
            <span ng-repeat="tag in blog.tagsCS">
                <a href="/tags/{{tag}}">{{tag}}</a>
                <span ng-hide="tag === blog.tagsCS[blog.tagsCS.length - 1]">, </span>
            </span>
        </p>
    </div>
    <div class="seeMore">
        <a ui-sref="blogs.detail({ blogTitle: blog.Title })">
            See More...
        </a>
    </div>
</div>

<div class="container box">
    <h2>BLOG LIST TODO:</h2>
    <ul>
        <li>Searching</li>
        <li>Pagination</li>
        <li>
            More details on the blog previews
            <ul>
                <li>Create Date</li>
                <li>Original Poster Username, with link to their profile</li>
                <li>List of tags</li>
            </ul>
        </li>
        <li>Service to grab first image in blog, use default if none found.</li>
    </ul>
</div>
