@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<BlogSiteNancy.Views.Shared.ViewModels._404Model>

@{
    Layout = "Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404</title>
</head>
<body>
    <div class="container container-full row box page404">

        <img class="image404"
             src="~/Content/img/404.jpg"/>
    </div>
</body>
</html>
