@{
    var vm = BlogSiteNancy.Utils.AppViewModel.GetAppViewModel();
    var loggedInUser = vm.LoggedInUser;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PotpourriBlogs!</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/bootstrap.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/business-casual.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/layout.css")" />
    <script src="~/Content/js/CKEditor/ckeditor.js"></script>
    <script src="~/Content/js/CKEditor/adapters/jquery.js"></script>
    <script src="~/Content/js/jquery.js"></script>
    <!--<script src="~/Content/js/app.js"></script>-->
    <script src="~/Content/js/bootstrap.js"></script>
</head>
<body>
    <div id="header">
        <div class="row">
            <div class="brand col-md-11 col-md-offset-0">Welcome To</div>
            @if (vm.LoggedInUser == null)
            {
                <div class="navbar-default">
                    <a href="/account/login" id="LoginLink">Login</a>@*<span> | </span>
                        <a href="/account/register" id="RegisterLink">Register</a>*@
                </div>
            }
            else
            {
                <div class="navbar-default">
                    <a href="/account/changepassword" id="ChangePasswordLink">Change Password</a> <span> | </span>
                    <a href="/account/logout" id="LogoutLink">LogOut</a>
                </div>
            }
        </div>

        <!-- Navigation -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container container-full">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                    <a class="navbar-brand" href="index.html">I Should Be Sleeping</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <img src="~/Content/img/doctorTachiCropped.jpg" />
                        </li>
                        <li>
                            <a href="/">Home</a><span> | </span>
                        </li>
                        @if (loggedInUser != null && loggedInUser.IsBlogCreator)
                        {
                            <li>
                                <a href="/blog/new">Write a blog!</a><span> | </span>
                            </li>
                        }
                        @if (loggedInUser != null && loggedInUser.IsAdmin)
                        {
                            <li>
                                <a href="/admin/userList">Administration</a><span> | </span>
                            </li>
                        }
                        <li>
                            <a href="/blog">See all blogs</a><span> | </span>
                        </li>
                        <li>
                            <a href="/tag">See all tags</a>
                        </li>
                        <li>
                            <form action="/search/" method="POST" class="col-sm-12">
                                <div class="col-sm-9">
                                    <input type="text" name="SearchParam" placeholder="Search PotpourriBlogs" class="form-control" />
                                </div>
                                <div class="col-sm-3">
                                    <input type="Submit" value="Search" class="btn btn-success" />
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </div>

    <div id="content">
        @RenderBody()
    </div>
</body>
</html>
