@using Microsoft.AspNet.Identity


@if (Session["User"] != null)
{
    var user = (Models.User)Session["User"];
    string welcomeMessage = string.Format("Welcome {0}", user.UserName);
    
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(welcomeMessage, "Index", "Manage", routeValues: null, htmlAttributes: new { id = "Manage" })</li>
        <li>@Ajax.ActionLink("Log Off", "LogOff", "Account", new AjaxOptions { HttpMethod = "Post" })</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
