<!--Home page-->

@{
    ViewBag.Title = "Home Page";
    var service = new Services.Impl.BlogService();
    var mostViewedBlog = service.GetMostViewedBlog();
    var newestBlog = service.GetNewestBlog();
}

<h4>Welcome to the Potpourri Blogs!</h4>
<h5>Newest: @Html.ActionLink(newestBlog.Title, "Blogs", "Blog", new { id = newestBlog.ID }, null)</h5>
<h5>Most Viewed: @Html.ActionLink(mostViewedBlog.Title, "Blogs", "Blog", new { id = mostViewedBlog.ID }, null)</h5>