@using Nancy.ViewEngines.Razor
@using FluentValidation.Results
@using BlogSiteNancy.Views.Account.ViewModels

@inherits NancyRazorViewBase<RegisterModel>

@{
    Layout = "Views/Shared/_Layout.cshtml";
    var _vm = BlogSiteNancy.Utils.AppViewModel.GetAppViewModel();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container col-md-4 col-md-offset-4 row box text-center">

        <!-- Registration Form -->
        <form action="/account/register/"
              id="RegisterForm"
              class="col-md-12"
              method="post">

            <!-- Errors -->
            @if (@Model.Failures != null)
            {
                foreach (ValidationFailure failure in @Model.Failures)
                {
                    <label class="errorMessage"
                           id="Error">
                        @failure.ErrorMessage
                    </label>
                }
            }
            
            <!-- Left Column -->
            <div class="col-md-6">                
                <!-- Username Input -->
                <input class="col-md-12 form-control"
                       id="RegisterUsername"
                       name="Username"
                       placeholder="Username"
                       type="text"
                       value="@Model.Username" />

                <!-- Password Input -->
                <input class="col-md-12 form-control"
                       id="RegisterPassword"
                       name="Password"
                       placeholder="Password"
                       type="password" />

                <!-- Confirm Password Input -->
                <input class="col-md-12 form-control"
                       id="RegisterConfirmPassword"
                       name="ConfirmPassword"
                       placeholder="Confirm Password"
                       type="password" />
            </div>

            <!-- Right Column -->
            <div class="col-md-6">
                <label>Upload Image:</label>
                <input id="file" 
                       name="ProfileImage"
                       type="file" />
            </div>

            <!-- Register Button -->
            <input class="btn btn-success col-xs-12"
                   id="RegisterButton"
                   name="Register"
                   type="submit"
                   value="Register" razor />
        </form>
    </div>
</body>

</html>
