@{
    Layout = "Views/Shared/_Layout.cshtml";

    var _vm = BlogSiteNancy.Utils.AppViewModel.GetAppViewModel();
    var model = new BlogSiteNancy.Views.Account.ViewModels.RegisterModel();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

    </div>
</body>
</html>
