@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Models.Blog>

@{
    Layout = "Views/Shared/_Layout.cshtml";
}

<!-- {url}/blog/{title} -->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="box">
                @Model.Title<br />
                <a href="/user/@Model.PostedBy">@Model.PostedBy</a><br />
                @Model.CreateDate<br />
                @Html.Raw(Model.Post)
            </div>
        </div>
    </div>
</body>
</html>
