@using System.Linq;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<List<Models.Blog>>

@{
    Layout = "Views/Shared/_Layout.cshtml";
    var vm = BlogSiteNancy.Utils.AppViewModel.GetAppViewModel();
    var blogs = vm.Blogs;

    if (@Model != null)
    {
        blogs = @Model;
    }
}

<!--
    {url}/blog
    - All Blogs

    {url}/user/{username}/allblogs
    - Blogs filtered by username
-->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            @foreach (Models.Blog blog in blogs)
            {
                <div class="box">
                    <a href="/blog/@blog.Title/view">
                        <img src="~/Content/img/intro-pic.jpg" class="col-md-12" />
                        @blog.Title
                    </a> - 
                    @blog.CreateDate.ToShortDateString()<br />
                    <a href="/user/@blog.PostedBy">@blog.PostedBy</a>
                    <p>This is where the short preview of the blog would go.</p>
                </div>
            }
        </div>
    </div>

</body>
</html>
