@using System.Linq;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<List<Models.Blog>>

@{
    Layout = "Views/Shared/_Layout.cshtml";
    var vm = BlogSiteNancy.Utils.AppViewModel.GetAppViewModel();
    var blogs = vm.Blogs;

    if (@Model != null)
    {
        blogs = @Model;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            @foreach (Models.Blog blog in blogs)
            {
                var tags = blog.Tags.Split(',');
                <div class="box">
                    <div class="col-md-3">
                        <a href="/blog/@blog.Title/view">
                            <img src="~/Content/img/intro-pic.jpg" class="col-md-12" />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a href="/blog/@blog.Title/view">
                            @blog.Title
                        </a><span> - </span>
                        <a href="/user/@blog.User.UserName">
                            @blog.User.UserName
                        </a>
                        <p>@blog.PostPreview</p>
                        <p>
                            @foreach (var tag in tags)
                            {
                                var tagname = tag.Trim();
                                <a href="/tags/@tagname">@tagname</a><span>, </span>
                            }
                        </p>
                    </div>
                    <div class="seeMore">
                        <a href="/blog/@blog.Title/view">
                            See More...
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

</body>
</html>
