<div class="container row box">

    <!-- Change Password Form -->
    <form class="col-md-12"
          name="changePasswordForm"
          ng-submit="vm.submit()"
          novalidate>        
        
        <!-- Old Password -->
        <div class="form-group">
            <input class="col-md-12 form-control"
                   id="OldPassword"
                   name="oldpassword"
                   ng-maxlength="20"
                   ng-minlength="8"
                   ng-model="vm.user.oldpassword"
                   placeholder="Old Password"
                   required
                   type="password" />
        </div>        
        
        <!-- New Password -->
        <div class="form-group">
            <input class="col-md-12 form-control"
                   id="NewPassword"
                   name="newpassword"
                   ng-maxlength="20"
                   ng-minlength="8"
                   ng-model="vm.user.newpassword"
                   placeholder="New Password"
                   required
                   type="password" />
        </div>        
        
        <!-- Confirm New Password -->
        <div class="form-group">
            <input class="col-md-12 form-control"
                   id="ConfirmNewPassword"
                   name="confirmnewpassword"
                   ng-maxlength="20"
                   ng-minlength="8"
                   ng-model="vm.user.confirmnewpassword"
                   placeholder="Confirm New Password"
                   required
                   type="password" />
        </div>

        <!-- Change Password Button -->
        <button class="btn btn-success col-md-12"
                type="submit">
            Change Password
        </button>

    </form>

</div>

<div class="box">
    <h2>MANAGE TODO:</h2>
    <p>EVERYTHING</p>
</div>