<div class="container box text-center">
    
    <!-- Login Form -->
    <form class="col-md-12"
          name="loginForm"
          ng-submit="loginCtrl.submit()"
          novalidate>

        <!-- Username Input -->
        <div class="form-group">
            <input class="form-control"
                   id="LoginUsername"
                   name="username"
                   ng-model="loginCtrl.user.username"
                   placeholder="Username"
                   required
                   type="text" />
        </div>

        <!-- Password Input -->
        <div class="form-group">
            <input class="form-control"
                   id="LoginPassword"
                   name="password"
                   ng-model="loginCtrl.user.password"
                   placeholder="Password"
                   required
                   type="password" />
        </div>

        <!-- Login Button -->
        <button class="btn btn-success"
                type="submit">
            Login
        </button>

    </form>
</div>

<div class="container box">
    <h2>LOGIN TODO:</h2>
    <ul>
        <li>Add authentication cookie when user logs in</li>
        <li>Redirect after successful login</li>
        <li>Error message if login unsuccessful</li>
    </ul>
</div>